# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y Producción
node_modules
dist
dist-ssr

# Variables de entorno (¡Muy Importante!)
.env
.env.local
.env.*.local
*.local
!.env.example

# Archivos temporales de Editores / Sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporales específicos de Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
