.login-btn-submit {
  background-color: #FF6B00;
  transition: opacity 0.2s ease;
  color: white;
}

.btn-login-main:hover {
  background-color: #ffb74d; 
  border-color: #ffb74d;
  color: white; 
}


.border-naranja-personalizado {
  border: 1px solid #ff6b00;
}